@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: black;
  }

  .dark body {
    background-color: black;
    color: white;
  }
}
.input {
  @apply w-full rounded-xl border border-neutral-300 dark:border-neutral-700 px-4 py-3 bg-white dark:bg-black text-black dark:text-white;
}

