@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: black;
  }

  .dark body{
    background-color: black;
    color: white;
    text: white;
  }
}
.input {
  @apply w-full rounded-xl border border-neutral-300 dark:border-neutral-700 px-4 py-3 bg-white dark:bg-black text-black dark:text-white;
}
/* BLOG GLOBAL STYLES */
.prose h2 {
  @apply text-2xl  font-bold mt-12 mb-4;
}

.prose h3 {
  @apply text-xl dark:text-white  font-semibold mt-8 mb-3;
}

.dark .prose h2{
  color: rgb(248, 248, 248); 
}

.prose {
  color: rgb(19, 21, 22); 
}
.dark .prose {
  color: rgb(192, 196, 205); 
}


.prose ul {
  @apply list-disc pl-6;
}

.prose li {
  @apply mb-2;
}

.prose img {
  @apply rounded-2xl my-8;
}

.prose blockquote {
  @apply border-l-4 border-neutral-300 dark:border-neutral-700 pl-4 italic text-neutral-600;
}

.prose code {
  @apply bg-neutral-100 dark:bg-neutral-800 px-1 rounded;
}

.author-name {
  @apply font-semibold text-xl text-neutral-800 dark:text-neutral-200;
}

.dark .author-name {
  @apply font-medium text-xl  text-neutral-200;
}

.light .author-name {
  @apply font-medium text-xl  text-neutral-800;
}

.dark .faq-ans {
  @apply text-neutral-300;
}

.dark .date {
  @apply font-medium   text-neutral-200;
}

.prose p {
  @apply leading-8;
}
.prose h2 { @apply scroll-mt-24; }